importacion de librerias

In [1]:
import pandas  as pd
import numpy as np
import csv
import os
import glob
import mysql.connector
import pymysql
from sqlalchemy import create_engine

Ciclo for para leer cada tipo de archivo con nombre precio y los concatena en un dataframe para luego ser limpio(puede colocarse y quitarse la carga incremental aqui o mas adelante)

In [2]:
#lectura y concatenacion de archivos del cliente en la carpeta Datasets 
df_Uprecios =[]
for csv in sorted(glob.glob('./Datasets/Datasets relevamiento precios/prec*.csv')):
    #print(csv)
    df= pd.read_csv(csv, sep=",", decimal=".",encoding="utf-8")
    df_Uprecios.append(df)
df_Precios= pd.concat(df_Uprecios)
#ordena por ID
df_Precios.sort_values('producto_id', inplace= True)
# Se itera sobre cada formato de archivo precio para concatenarlo(csv, json, xlsx, parquet, txt)
for json in sorted(glob.glob('./Datasets/Datasets relevamiento precios/prec*.json')):
    df= pd.read_json(json)#, sep=",", decimal=".",encoding="utf-8")
    df_Uprecios.append(df)
df_Precios= pd.concat(df_Uprecios)

for xlsx in sorted(glob.glob('./Datasets/Datasets relevamiento precios/prec*.xlsx')):
    df= pd.read_excel(xlsx)#, sep=",", decimal=".",encoding="utf-8")
    df_Uprecios.append(df)
df_Precios= pd.concat(df_Uprecios)

for parquet in sorted(glob.glob('./Datasets/Datasets relevamiento precios/prec*.parquet')):
    df= pd.read_parquet(parquet, engine='pyarrow')#sep=",", decimal=".",encoding="utf-8")
    df_Uprecios.append(df)
df_Precios= pd.concat(df_Uprecios)

for txt in sorted(glob.glob('./Datasets/Datasets relevamiento precios/prec*.txt')):
    df= pd.read_csv(txt , sep='|')#, decimal=".",encoding="utf-8")
    df_Uprecios.append(df)
df_Precios= pd.concat(df_Uprecios)

df_Precios.to_csv('df_Precios_total_nolimpio.csv', index = False)

DATA CLEANSING-EDA

In [3]:
df_Precios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1348809 entries, 0 to 478908
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   precio       1347060 non-null  object
 1   producto_id  1335275 non-null  object
 2   sucursal_id  1348794 non-null  object
dtypes: object(3)
memory usage: 41.2+ MB

Se borra duplcados por la baja cantidad que representan frente a el tal de datos y la no existencia de nulos

In [4]:
print(f'{df_Precios.isnull().sum()} nulls in dataframe')

precio          1749
producto_id    13534
sucursal_id       15
dtype: int64 nulls in dataframe

In [5]:
df_Precios.dropna(inplace=True)

In [6]:
# Checking duplicatines in dataframe
print(f'{df_Precios.duplicated().sum()} duplicates in Dataframe Precio')

7998 duplicates in Dataframe Precio

In [7]:
df_Precios.drop_duplicates(inplace = True)

In [8]:
df_Precios.shape

(1325640, 3)

Se exporta el datatset precios limpio para cdespues cargarlo a la bd mysql

In [25]:
df_Precios.to_csv('df_Precios_total_limpio.csv', index = False)

In [13]:
# df_Preciosi = df_Precios.to_csv('df_Precios_total_limpio.csv', index = False)
# df_Preciosi

In [26]:
df_Precios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1325640 entries, 0 to 478908
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   precio       1325640 non-null  object
 1   producto_id  1325640 non-null  object
 2   sucursal_id  1325640 non-null  object
dtypes: object(3)
memory usage: 40.5+ MB

Generamos una conexion con la base de datos en mysql a traves de mysql-connector, se crea la bd se crea las tablas y se ingesta los datos del datset limpio que se genero anteriormente, se comita y se cierra la conexion para guardar memoria

In [28]:
import mysql.connector
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="root")#, database="bdpi01_data04")
cursor1=conexion1.cursor()
print(conexion1)
cursor1.execute("CREATE DATABASE IF NOT EXISTS bdpi01_data04;")
cursor1.execute("USE bdpi01_data04;")
# cursor1.execute("DROP TABLE IF EXISTS `Precios`;")
# Tabla_Precio="CREATE TABLE IF NOT EXISTS Precios  (precio VARCHAR(150), producto_id VARCHAR(150), sucursal_id VARCHAR(150)) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;"
# # Tabla 
# cursor1.execute(Tabla_Precio)
# cursor1.execute("LOAD DATA INFILE 'df_Precios_total_limpio.csv' INTO TABLE Precios FIELDS TERMINATED BY ',' ENCLOSED BY '' ESCAPED BY '' LINES TERMINATED BY '\n' IGNORE 1 LINES;")
# # cursor1.execute("LOAD DATA INFILE 'precio_incremental_limpio.csv' INTO TABLE Precios FIELDS TERMINATED BY ',' ENCLOSED BY '' ESCAPED BY '' LINES TERMINATED BY '\n' IGNORE 1 LINES;")

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020A659775E0>

hacemos una conezion con pymysql para mas rapidez

In [29]:
import pymysql
from sqlalchemy import create_engine
cadena_conexion = "mysql+pymysql://root:root@localhost:3306/bdpi01_data04"
conexion = create_engine(cadena_conexion)
df_Precios.to_sql(name='precios', con=conexion, if_exists='append')

1325640

ejecutamos la consulta:#Precio promedio de la sucursal 9-1-688

"SELECT sucursal_id, AVG(precio) FROM Precios GROUP BY sucursal_id;") para ver el funcionamiento

In [30]:
# #Precio promedio de la sucursal 9-1-688
cursor1.execute("select avg(precio) from precios where sucursal_id='9-1-688';")
#conexion1.execute('select avg(precio) from precios')
#cursor1.execute("SELECT sucursal_id, AVG(precio) FROM Precios GROUP BY sucursal_id;")
my_result = cursor1.fetchall()
for x in my_result:
    print(x)
conexion1.commit()
conexion1.close()

(196.29945614035086,)

SUCURSAL

se tiene en cuenta q no se va a crear mas sucursales

In [31]:
df_sucursal = pd.read_csv('./Datasets/Datasets relevamiento precios/sucursal.csv')
df_sucursal.head()

,id,comercioId,banderaId,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,1,1,Super MAMI,Dinosaurio S.A.,AR-X,SALSIPUEDES,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,10,1,Hipermercado Carrefour,INC S.A.,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,10,1,Hipermercado Carrefour,INC S.A.,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado

data-cleansing: no tenemos datos nulos

In [32]:
df_sucursal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2333 non-null   object
 1   comercioId           2333 non-null   int64
 2   banderaId            2333 non-null   int64
 3   banderaDescripcion   2333 non-null   object
 4   comercioRazonSocial  2333 non-null   object
 5   provincia            2333 non-null   object
 6   localidad            2333 non-null   object
 7   direccion            2333 non-null   object
 8   lat                  2333 non-null   float64
 9   lng                  2333 non-null   float64
 10  sucursalNombre       2333 non-null   object
 11  sucursalTipo         2333 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 218.8+ KB

buscamos nulos

In [33]:
print(f'{df_sucursal.isnull().sum()}, nulos in sucursal')

id                     0
comercioId             0
banderaId              0
banderaDescripcion     0
comercioRazonSocial    0
provincia              0
localidad              0
direccion              0
lat                    0
lng                    0
sucursalNombre         0
sucursalTipo           0
dtype: int64, nulos in sucursal

In [34]:
df_sucursal.dropna(inplace=True)

buscamos datos duplicados

In [35]:
#print(f'{df_sucursal.duplicated.value_counts()} duplicados in sucursal')
df_sucursal.duplicated(keep='first').value_counts()

False    2333
dtype: int64

In [36]:
df_sucursal.drop_duplicates()

,id,comercioId,banderaId,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,1,1,Super MAMI,Dinosaurio S.A.,AR-X,SALSIPUEDES,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,10,1,Hipermercado Carrefour,INC S.A.,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,10,1,Hipermercado Carrefour,INC S.A.,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado
...,...,...,...,...,...,...,...,...,...,...,...,...
2328,9-3-5277,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-U,COMODORO RIVADAVIA,Yrigoyen Hipolito 0,-45.873300,-67.493500,Jumbo-Comodoro,Hipermercado
2329,9-3-5626,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-B,GENERAL PACHECO,Boulogne Sur Mer 1275,-34.474500,-58.625700,Jumbo Pacheco Novo,Hipermercado
2330,9-3-5961,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-C,CIUDAD AUTONOMA BUENOS AIRES,Avenida Santa Fe 4950,-34.577200,-58.430000,Jumbo Av. Santa Fé,Supermercado
2331,9-3-628,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-B,SAN FERNANDO,Avenida Del Libertador Gral San Martin 2271,-34.446900,-58.545700,Jumbo San Fernando,Supermercado
2332,9-3-662,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-B,DEL VISO,Acceso Pilar Norte 0,-34.436000,-58.808000,Jumbo Paseo del Pilar,Supermercado

In [37]:
df_sucursal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2333 non-null   object
 1   comercioId           2333 non-null   int64
 2   banderaId            2333 non-null   int64
 3   banderaDescripcion   2333 non-null   object
 4   comercioRazonSocial  2333 non-null   object
 5   provincia            2333 non-null   object
 6   localidad            2333 non-null   object
 7   direccion            2333 non-null   object
 8   lat                  2333 non-null   float64
 9   lng                  2333 non-null   float64
 10  sucursalNombre       2333 non-null   object
 11  sucursalTipo         2333 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 218.8+ KB

exporta el csv sucursal limpio para ser subido a la bd

In [38]:
df_sucursal.to_csv("sucursal_limpio.csv", index = False)

In [41]:
import pymysql
from sqlalchemy import create_engine
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="root")#, database="bdpi01_data04")
cursor1=conexion1.cursor()
#cursor1.execute("CREATE DATABASE IF NOT EXISTS bdpi01_data04;")
cadena_conexion = "mysql+pymysql://root:root@localhost:3306/bdpi01_data04"
cursor1.execute("USE bdpi01_data04;")
conexion = create_engine(cadena_conexion)
cursor1.execute("DROP TABLE IF EXISTS `sucursal`;")
df_sucursal.to_sql(name='sucursal', con=conexion, if_exists='append')

2333

In [42]:
df_sucursal.shape

(2333, 12)

CARGA INCREMENTAL TXT

Cargamos los datos incrementales uubicados en la carpeta dataset incremental, estas cargas deben hacerse en el formato especificado (txt, sep='|') y la misma ubicacion (Datasets incrementales)

In [43]:
df_oprecios =[]
for txt in sorted(glob.glob('./Datasets/Dataset incremental/prec*.txt')):
    df= pd.read_csv(txt , sep='|')#, decimal=".",encoding="utf-8")
    df_oprecios.append(df)
    print(df_oprecios)

df_Precios_inc= pd.concat(df_oprecios)
#df_Preciosi=pd.concat(df_Precios_inc)
df_Precios_inc.to_csv('./Datasets/Dataset incremental/Precios_incremental_nolimpio.csv', index = False)

[        precio    producto_id sucursal_id
0        29.90  0000000002288     2-1-009
1        32.90  0000000002288     2-1-037
2        36.90  0000000002288     2-1-090
3        39.90  0000000002288     2-3-247
4       499.99  0000000205870     9-1-430
...        ...            ...         ...
415288  149.99  9569753142128      25-1-1
415289   34.99  9795403001143      25-1-1
415290  312.50  9990385651922       5-1-4
415291  312.50  9990385651939       5-1-4
415292  198.90  9990385651946       5-1-4

[415293 rows x 3 columns]]

In [44]:
precio_incremental = pd.read_csv('./Datasets/Dataset incremental/Precios_incremental_nolimpio.csv')#, sep='|')
precio_incremental.head()

   precio    producto_id sucursal_id
0   29.90  0000000002288     2-1-009
1   32.90  0000000002288     2-1-037
2   36.90  0000000002288     2-1-090
3   39.90  0000000002288     2-3-247
4  499.99  0000000205870     9-1-430

In [45]:
precio_incremental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415293 entries, 0 to 415292
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   precio       413333 non-null  float64
 1   producto_id  415287 non-null  object
 2   sucursal_id  415287 non-null  object
dtypes: float64(1), object(2)
memory usage: 9.5+ MB

In [46]:
precio_incremental.isnull().sum()

precio         1960
producto_id       6
sucursal_id       6
dtype: int64

In [47]:
precio_incremental.dropna(inplace=True)

In [48]:
precio_incremental.duplicated().sum()

186

In [49]:
precio_incremental.drop_duplicates(inplace=True)

In [50]:
precio_incremental.to_csv('precio_incremental_limpio.csv', index=False)

In [51]:
import mysql.connector
import pymysql
from sqlalchemy import create_engine
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="root")#, database="bdpi01_data04")
cursor1=conexion1.cursor()
print(conexion1)
#cursor1.execute("CREATE DATABASE IF NOT EXISTS bdpi01_data04;")
cursor1.execute("USE bdpi01_data04;")
#cursor1.execute("DROP TABLE IF EXISTS `producto`;")

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020A6D159E40>

In [52]:
import pymysql
from sqlalchemy import create_engine
cadena_conexion = "mysql+pymysql://root:root@localhost:3306/bdpi01_data04"
conexion = create_engine(cadena_conexion)
precio_incremental.to_sql(name='precios', con=conexion, if_exists='append')

413145

PRODUCTO

In [53]:
import pyarrow as pa

In [54]:
df_producto = pd.read_parquet('./Datasets/Datasets relevamiento precios/producto.parquet', engine='pyarrow')
df_producto.head()

,id,marca,nombre,presentacion,categoria1,categoria2,categoria3
0,0000000001663,LA ANÓNIMA,Radicheta Atada La Anonima 1 Un,1.0 un,None,None,None
1,0000000002288,LA ANÓNIMA,Perejil Atado La Anonima 1 Un,1.0 un,None,None,None
2,0000000205870,SIN MARCA,Ojo de Bife 1 Kg,1.0 kg,None,None,None
3,0000000205894,SIN MARCA,Milanesa de Peceto Novillito 1 Kg,1.0 kg,None,None,None
4,0000000205955,SIN MARCA,Chiquizuela Novillito 1 Kg,1.0 kg,None,None,None

In [55]:
df_producto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72038 entries, 0 to 72037
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            72038 non-null  object
 1   marca         72036 non-null  object
 2   nombre        72036 non-null  object
 3   presentacion  72036 non-null  object
 4   categoria1    4 non-null      object
 5   categoria2    4 non-null      object
 6   categoria3    4 non-null      object
dtypes: object(7)
memory usage: 3.8+ MB

In [56]:
df_producto.isnull().sum()

id                  0
marca               2
nombre              2
presentacion        2
categoria1      72034
categoria2      72034
categoria3      72034
dtype: int64

In [57]:
df_producto.drop(columns=['categoria1','categoria2','categoria3'], axis=1, inplace=True)

In [58]:
df_producto.dropna(inplace=True)

In [59]:
df_producto.isnull().sum()

id              0
marca           0
nombre          0
presentacion    0
dtype: int64

In [60]:
df_producto.duplicated(keep='first').value_counts()

False    72036
dtype: int64

In [61]:
df_producto.drop_duplicates(inplace = True)

In [62]:
df_producto.to_csv('producto_limpio.csv', index = False, encoding='utf-8')

In [63]:
df_producto.shape

(72036, 4)

In [64]:
import mysql.connector
import pymysql
from sqlalchemy import create_engine
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="root")#, database="bdpi01_data04")
cursor1=conexion1.cursor()
print(conexion1)
#cursor1.execute("CREATE DATABASE IF NOT EXISTS bdpi01_data04;")
cursor1.execute("USE bdpi01_data04;")
cursor1.execute("DROP TABLE IF EXISTS `producto`;")
# Tabla_sucursal="CREATE TABLE IF NOT EXISTS producto  (id int AUTO_INCREMENT, marca  VARCHAR(255), nombre VARCHAR(255), presentacion VARCHAR(255), PRIMARY KEY (ID)) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;"
# cursor1.execute(Tabla_sucursal)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020A556633D0>

In [65]:
cadena_conexion = "mysql+pymysql://root:root@localhost:3306/bdpi01_data04"
conexion = create_engine(cadena_conexion)
df_producto.to_sql(name='producto', con=conexion)

72036